@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #f60f20;
}

html, body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 20;
}

/* Toggle */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 20;
  background: var(--mainColor)  url(../images/menu.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;

}

.toggle.active {
  background: var(--mainColor)  url(../images/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

/* Navigation */
.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation.active {
  left: 0;
}

.navigation ul {
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 2.2rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
}

.navigation ul li a:hover {
  color: var(--mainColor);
}

.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
}

.navigation .social-bar a {
  display: inline-block;
  transform: scale(.5);
}

.navigation .email-icon {
  position: absolute;
  bottom: 20px;
  left: 0;
  transform: scale(.5);
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
  margin-top: 60px;
}

section.home {
  flex-direction: row;
  margin-top: 0;
}

/* .home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
} */

/* .home {
  background-image: url(../images/home-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.home-content {
  position: relative;
  max-width: 600px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: var(--mainColor);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 7px;
  margin: 20px 0
}

.btn:hover {
  transform: scale(.98);
}

/* link of btn */

[class=linkbtn] {
  display: block;
  text-decoration: none;
  color: white;

}

@media (max-width:1068px) {
  .home-img {
    display: none;
  }
  .logo {
    top: 10px;
    left: 40px;
    font-size: 1.5rem;
  }
  section {
    padding: 100px 40px;
  }
  .navigation ul li a{
    font-size: 2rem;
  }
}

/* mang Page */
.mangs {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}

.mangs .mang {
  padding: 20px;
}

.mangs .mang h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: #1b206e;
}

.mangs .mang:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.mangs .mang .icon img {
  max-width: 100px;
  border-radius: 50%;
}

/* Subject Page */
.subjects {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}

.subjects .subject {
  padding: 20px;
}

.subjects .subject h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: #1b206e;
}

.subjects .subject:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.subjects .subject .icon img {
  max-width: 100px;
  border-radius: 50%;
}

/* Cord Page */
.cords {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}

.cords .cord {
  padding: 20px;
}

.cords .cord h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: #1b206e;
}

.cords .cord:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.cords .cord .icon img {
  max-width: 100px;
  border-radius: 50%;
}

@media (max-width: 1068px) {
  .mangs, .subjects, .cords{
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 768px) {
  .mangs, .subjects, .cords{
    grid-template-columns: 1fr;
  }
}

/* work page */
.works {
  margin-top: 40px;
}

.works .work {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.works .work h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: #1b206e;
  text-align: center;
}

.works .work:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.works .work img {
  display: block;
  max-width: 100%;
}

.border {
	font-size: 1.6rem;
	display: grid;
	place-items: center;
	min-height: 200px;
	border: 5px solid;
	padding: 1px;
}

.full {
	border-image: linear-gradient(45deg, #3D7EAA, #FFE47A) 1;
}

/* Contact page */

/* copy */
.copytext {
  padding: 20px;
  background-color: #eee;
  width: 50%;

}

.copyimg {
  width: 100%;
}